.header{
    background-color: #8500d7;
    color: rgb(0, 0, 0);
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: left;
}
nav{
    padding: 10px;
    display: flex;
    justify-content: space-around;
}
div{
    padding: 10px;
    
}